<script src='//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript">
    if (window.WeixinJSBridge) {
        document.write('<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"><\/script>');

        var $dom = document.querySelectorAll('article .content')[0];
        var desc = $dom ? ($dom.innerHTML.replace(/<.+?>/g, '').slice(0, 32)) + '...' : '';

        var payload = {
            title: document.title,
            desc: desc,
            link: window.location.href,
            imgUrl: 'http://jiangdl.com/assets/touch-icon.png',
            success: function () {
            },
            cancel: function () { 
            }
        };

        wx.onMenuShareAppMessage(payload);
        wx.onMenuShareTimeline(payload);
        wx.onMenuShareWeibo(payload);
        wx.onMenuShareQZone(payload);
    }
</script>