<script src='//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript">

    if (WeixinApi) {

        WeixinApi.ready(function(Api){
         
            var wxData = {
                "imgUrl": 'http://jiangdl.com/assets/touch-icon.png',
                "link": window.location.href,
                "desc": document.title,
                "title": "{{ site.title }}"
            };
         
            var wxCallbacks = {
                ready:function () {
                },
                cancel:function (resp) {
                },
                fail:function (resp) {
                },
                confirm:function (resp) {
                },
                all:function (resp) {
                }
            };
         
            Api.shareToFriend(wxData, wxCallbacks);
            Api.shareToTimeline(wxData, wxCallbacks);
            Api.shareToWeibo(wxData, wxCallbacks);
        });
    }

</script>